# Ignore build artifacts
build/
dist/
__pycache__/
mascot/

# Ignore spec files
mascot_launcher.spec
mascot_launcher_normal.spec
mascot_launcher_panda.spec
mascot-launcher.spec

# Bytecode files
*.pyc
